[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
flake8 = "*"
ipykernel = "*"

[packages]
numpy = "*"
seaborn = "*"
matplotlib = "*"
opencv-python = "*"
sklearn = "*"
tqdm = "*"
plotly = "*"
requests = "*"
torch = "*"
torchvision = "*"
pytorch-lightning = "*"
mlflow = "*"
PyYAML = "*"
"ruamel.yaml" = "*"
SimpleITK = "*"
pillow = "==6.1"
jupytext = "*"
tensorflow = "*"
jupyter = "*"
hydra-core = "*"

[requires]
python_version = "3.6"
